.TopicsTreeComponent {
    font-size:95%;
    ul {
        white-space: nowrap;
        text-align: left;
        line-height: 20px;
    }
    a.selectedNode {
        color: red;
        font-weight: bold;
    }
}