.FilterEditorComponent {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    input[type="checkbox"][readonly]:checked {
        background-color: silver;
      }

    td {
        vertical-align: top;
    }

    .highlighted {
        background-color: #efe;
    }
    div.header {
        display: flex;

        .left {
            flex-grow: 1;
        }
        .right {
            flex-grow: 1;
            visibility:hidden;
        }
    }

    table.mainFilterTable {
        display: block;
        flex-grow: 1;
        height: 300px;
        overflow-y: scroll;
        margin: 0px auto;
        text-align:left;
        width:auto;
    }

    table.mainFilterTable {
        table {
            background-color: #eee;
        }
    }

    .sorting {
        text-align: right;
        color: grey;
    }

    .topicRow > td {
            border-bottom: 1px solid silver;
        }

    .topicRow:last-child > td {
        border-bottom: 0px;
    }

    .back {
        text-align: left;
        padding:10px 20px;
        a {
            color: grey;
        }
    }
    

    a.expand {
        color: grey;
    }
        

    .firstCol {
        width: 10px;
    }
}