.FilterEditorComponent {
    input[type="checkbox"][readonly]:checked {
        background-color: silver;
      }

    td {
        vertical-align: top;
    }

    .highlighted {
        background-color: #efe;
    } 

    table.mainFilterTable {
        margin: 0px auto;
        text-align:left;
        width:80%;
    }

    table.mainFilterTable {
        table {
            background-color: #eee;
        }
    }

    .sorting {
        text-align: right;
        color: grey;
    }

    .topicRow > td {
            border-bottom: 1px solid silver;
        }

    .topicRow:last-child > td {
        border-bottom: 0px;
    }

    .back {
        text-align: left;
        padding:10px 20px;
        a {
            color: grey;
        }
    }
    

    a.expand {
        color: grey;
    }
        

    .firstCol {
        width: 10px;
    }
}