.TrainerAppComponent {
    text-align: center;

    .questionAnswer {
       margin-top:10%;
    }
    .menu {
        padding-top:3%;
    }


    button.next {
        background-color: darkgreen; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
    }

    button.next:focus {
        box-shadow: 0 0 5pt 4pt #719ECE;    
      }

      .greenPct {
          color: darkgreen;
      }
    
    .yellowPct {
        color:darkorange;
    }
    
    .redPct {
        color: red;
    }
}