.BodyQuestionComponent {
    width: fit-content;
    line-height: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 20px;

    button {
      margin-top: 10px;
      font-size: 14px;
    }
    
    select {
      font-size: 18px;
    }

    select.success {
        background: green;
        color: white;
    }

    select.error {
        background: red;
        color: white;
    }

    sup.success {
      color: green;
    }

    sup.error {
        color: red;
    }
    
    
}


