.TopicsTreeComponent {
    font-size:95%;
    ul {
        white-space: nowrap;
        text-align: left;
        line-height: 20px;
        padding-inline-start: 10px;
    }
    a.selectedNode {
        color: red;
        font-weight: bold;
    }
    .error {
        color: red;
    }
    .ruleHl {
        background-color: lightgreen;
    }
    .debugHl {
        background-color: yellow;
    }
    .nrHl {
        background-color: orange;
    }
    .todoHl {
        background-color: red;
        color: white !important;
    }
    
    strong {
        background-color: red;
        color: white;
    }
}